<div class="container-fuid">
  <div class="row">
    <div class="col">
      <div class="text-center p-3">
        <h3>Registrar Ingreso</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="frmIngreso" (ngSubmit)="registrar(frmIngreso.value)">
        <div class="row d-flex justify-content-evenly">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="Indentificacion" id="txtId"
                formControlName="txtId" />
              <label for="txtId" class="form-label">Indentificación:</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="Nombre" id="txtNombre" formControlName="txtNombre" />
              <label for="txtNombre" class="form-label">Nombre completo:</label>
            </div>
            <div class="form-floating mb-3">
              <select name="cbTipo" id="cbTipo" class="form-select" formControlName="cbTipo">
                <option value="Aprendiz">Aprendiz</option>
                <option value="Instructor">Instructor</option>
              </select>
              <label for="txtId" class="form-label">Tipo:</label>
            </div>
            <div class="form-floating mb-3">
              <select name="cbMarca" id="cbMarca" class="form-select" formControlName="cbMarca">
                <option value="Asus">Asus</option>
                <option value="Lenovo">Lenovo</option>
                <option value="Hp">Hp</option>
                <option value="Dell">Dell</option>
                <option value="Acer">Acer</option>
              </select>
              <label for="txtId" class="form-label">Marca de computador:</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="Serial" id="txtSerial" formControlName="txtSerial" />
              <label for="txtId" class="form-label">Serial del computador:</label>
            </div>
            <div class="row text-center">
              <div class="col">
                <button type="submit" class="btn btn-success ml-1 mb-1">Entrada <fa-icon
                    [icon]="faSignIn"></fa-icon></button>
                <button type="button" class="btn btn-secondary mx-1 mb-1"
                  (click)="consultarPorIdentificacion()">Consultar <fa-icon [icon]="faSearch"></fa-icon></button>
                <button type="button" class="btn btn-danger mr-1 mb-1" (click)="modificar(frmIngreso.value)">Salida
                  <fa-icon [icon]="faSignOut"></fa-icon></button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button type="button" class="btn btn-secondary mx-1 mb-1" (click)="eliminar()">Eliminar <fa-icon
                    [icon]="faTrash"></fa-icon></button>
                <button type="button" class="btn btn-secondary mx-1 mb-1" (click)="limpiarIngreso()">limpiar <fa-icon
                    [icon]="faEraser"></fa-icon></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
